.protocol__provider__card__container {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  display: flex;
}

.protocol__provider__card {
  text-align: left;
  cursor: pointer;
  padding: 1.25rem 1.375rem;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  background: var(--text-white-400);
  border-radius: 8px;
  border: 2px solid transparent;
}

.protocol__provider__card p {
  margin-top: 0.625rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-gray-500);
}

.protocol__provider__card h3 {
  margin: 0;
  margin-top: 1.375rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: white;
}

.protocol__provider__card:hover {
  background: var(--primary-provider-card),
    var(--text-white-400);
  border-radius: 8px;
}

.protocol__provider__card__selected {
  background: var(--primary-provider-card),
    var(--text-white-400);
  border-radius: 8px;
  border: 2px solid #418ff8;
}

.contenturl__card {
  padding: 14px 20px 20px 20px;
  border-radius: 13px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: var(--text-white-400);
  border-radius: 8px;
  margin-top: 2rem;
  border: 2px solid transparent;
}

.contenturl__card:hover {
  background: var(--primary-provider-card),
    var(--text-white-400);
  border-radius: 8px;
}

.contenturl__card__focused {
  background: var(--primary-provider-card),
    var(--text-white-400);
  border: 2px solid #006be9;
  border-radius: 8px;
}

.contenturl__card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.contenturl__card__content > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.contenturl__card__content__icon {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  margin-right: 14px;
}

.contenturl__card__content .contenturl__card__link__container {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.125rem;
  background: rgba(246, 245, 253, 0.04);
  border-radius: 4px;
  width: calc(100% - 1.125rem);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.contenturl__card__content .contenturl__card__link__container a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #56a1ff;
  max-width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.8rem;
  margin-left: 1rem;
}

.contenturl__card__radio {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border: 2px solid #bcc3fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenturl__card__focused .contenturl__card__radio {
  border: 2px solid var(--card-bg) !important;
}

.contenturl__card__radio__active {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bcc3fb !important;
}
.contenturl__card__focused .contenturl__card__radio__active {
  border: 2px solid var(--card-bg) !important;
}
.contenturl__card__radio__circle {
  height: 13px;
  width: 13px;
  background: var(--text-gray-400);
  border-radius: 100%;
}

.contenturl__card__focused .contenturl__card__radio__circle {
  background: var(--card-bg) !important;
}

.content__title {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-left: 1rem;
}

.recommended__div {
  background: var(--primary-button-gradient);
  border-radius: 16px;
  margin-left: 1rem;
  color: white;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: white;
  position: relative;
}
.recommended__div .information__div {
  visibility: hidden;
  width: 300px;
  background: #0f3875;
  border-radius: 8px;
  color: black;
  z-index: 1;
  text-align: center;
  padding: 10px 0 0 7px;
  position: fixed;
  left: 25%;
  height: 50px;
  margin-top: -105px;
}
.recommended__div .information__div:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 0px;
  border-width: 7px;
  border-style: solid;
  border-color: #0f3875 transparent transparent transparent;
}
.recommended__div:hover .information__div {
  visibility: visible;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.protocol__card__margin {
  margin-right: 1.25rem;
}

.link__icon {
  stroke: #56a1ff;
}
.info__icon {
margin-left: 0.3rem;
}
@media (max-width: 800px) {
  .protocol__provider__card__container {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
  }
  .protocol__card__margin {
    margin: 0;
  }
  .content__title {
    margin-left: 0.3rem;
    font-size: 11px;
    width: max-content;
  }
  .contenturl__card__content .contenturl__card__link__container a {
    margin-left: 0.3rem;
    font-size: 11px;
    max-width: 380px;
  }
  .link__icon {
    width: 1rem;
  }
  .recommended__div .information__div {
    display: none;
  }
  .info__icon {
    display: none;
  }
}

@media (max-width: 450px) {
  .contenturl__card__content .contenturl__card__link__container a {
   max-width: 250px;
  }
}
