.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* margin-top: 8rem; */
  overflow: hidden;
}

.container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__content h1 {
  color: #fff;
  font-size: 3.1rem;
  font-weight: 800;
  line-height: 4.25rem;
  margin: 0 auto;
  text-align: center;
}

.container__content > div > span {
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.container__left__moon {
  background: radial-gradient(
      130.89% 130.89% at 47.98% 7.11%,
      #006be9 0%,
      #5cf5ff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.5;
  /* ks */
  box-shadow: 0px 4px 70px #3edcff;
  position: absolute;
  width: 100px;
  height: 100px;
  left: -50px;
  top: 357px;
  border-radius: 50%;
}

.container__right__moon {
  background: radial-gradient(
      130.89% 130.89% at 47.98% 7.11%,
      #006be9 0%,
      #5cf5ff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.5;
  /* ks */
  box-shadow: 0px 4px 70px #3edcff;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 256px;
  right: -50px;
  /* right: -50px; */
  border-radius: 50%;
}

.container__center__left__moon {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 406.2px;
  top: 500.38px;

  background: linear-gradient(
    66.88deg,
    #006be9 16.43%,
    rgba(92, 245, 255, 0) 77.88%
  );
  opacity: 0.1;
  transform: rotate(142.64deg);
  border-radius: 50%;
}

.container__center__right__moon {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 1009px;
  top: 255.39px;

  background: linear-gradient(
    66.88deg,
    #006be9 16.43%,
    rgba(92, 245, 255, 0) 77.88%
  );
  opacity: 0.1;
  transform: rotate(-26.42deg);
  border-radius: 50%;
}

.container__left__star {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 406.2px;
  top: 250.38px;
  background: #459ef0;
  /* mix-blend-mode: color; */
  filter: blur(3px);
  border-radius: 50%;
}

.container__right__star {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 1169px;
  top: 555.39px;
  background: #459ef0;
  /* mix-blend-mode: color; */
  filter: blur(3px);
  border-radius: 50%;
}

.container__subtitle__div {
  background: radial-gradient(
      130.89% 130.89% at 47.98% 7.11%,
      rgba(0, 133, 208, 0.1) 0%,
      rgba(3, 77, 165, 0.1) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 350px;
  display: flex;
  justify-content: center;
}

.container__subtitle {
  /* font-family: 'Manrope'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.5px;

  /* gradient */
  background: radial-gradient(
      130.89% 130.89% at 47.98% 7.11%,
      #006be9 0%,
      #5cf5ff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.container__title {
  /* font-family: 'Manrope'; */
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 104%;
  /* or 67px */
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
}

.container__title__span {
  background: radial-gradient(
        44.77% 126.88% at 47.98% 7.11%,
        #006be9 0%,
        #5cc4ff 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 104%;
}

.container__paragraph {
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  text-align: center;

  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.5rem;
}

@media (max-width: 800px) {
  .container__title {
    font-size: 24px;
  }
  .container__title__span {
    font-size: 24px;
  }
  .container__paragraph {
    font-size: 11px;
  }
}
