.input__heading {
  text-align: left;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.input__subheading {
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0.4rem;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}

.input__section {
  position: relative;
}

.input__collection {
  background-color: rgba(246, 245, 253, 0.04);
  border-radius: 4px;
  border: 0px;
  width: -webkit-fill-available;
  padding: 0.8rem 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.input__icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.input__collection::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.input__collection:focus-visible {
  border: 0px;
  outline: 0px;
}

.input__div {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  padding: 0.3rem 2rem 1.5rem 2rem;
}

.input__content__link {
 /* font-family: 'Inter'; */
 font-style: normal;
 font-weight: 600;
 font-size: 14px;
 line-height: 20px;
 color: #006be9;
 cursor: pointer;
 margin-left: 0.3rem;
}