.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.title {
  /* font-family: 'Manrope'; */
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 114%;
  text-align: center;
  color: white;
}

.container > a {
  color: var(--text-gray-500);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.subtitle__span {
  font-weight: 800;
}

.successUrl {
  margin-top: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(246, 245, 253, 0.04);
  border-radius: 6px;
  width: auto;
  overflow: hidden;
  border: 4px solid #006be9;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.successUrl:hover {
  background: rgba(255, 255, 255, 0.08);
}
.successUrl a {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #56a1ff;
  letter-spacing: 0.5px;
  margin-right: 32px;
  margin-left: 0.5rem;
  display: flex;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 12px;
  }
  .successUrl {
    width: min-content;
  }
}
