.App {
  text-align: center;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  background-image: url("./assets/background/site-bg.svg") no-repeat;
  background-size: cover;
  background: linear-gradient(129.58deg, rgba(44, 218, 255, 0.29) -1.47%, rgba(0, 107, 233, 0) 41.44%), #030928;
}

.text-primary {
  color: #888888;
}

.text-white {
  color: #fff;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-lg {
  font-size: 18px;
}

.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-4 {
  gap: 1.125rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.items-center {
  align-items: center;
}

.hero-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.button-container {
  margin-top: 3rem;
}

/* Scrollbar */
* {
  scrollbar-width: 6px;
  scrollbar-color: rgba(255, 255, 255, 0.12);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;

}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;

}

*::-webkit-scrollbar-track:active {
  background-color: transparent;

}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.12);

}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.12);

}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.12);
}

@media (max-width: 1024px) {
  .App {
    overflow: scroll;
  }
}