.App {
  text-align: center;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-lg {
  font-size: 18px;
}

.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.hero-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}
