body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #1d4ae0;
  --primary-hover: #0c37c7;
  --primary-disabled: #6172f3a8;
  --primary-card-hover: #eef4ff;
  --secondary: #03d3ff;
  --card-bg: #071132;
  --text-dark: #0c1946;
  --text-link: #d6c8dd;
  --text-gray-500: #b3b6c2;
  --text-gray-400: #cbc7d3;
}
